@media (min-width: 1920px) {
    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Light.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    
    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Bold.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Black.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    
    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Light.ttf") format("truetype");
        font-weight: 200;
        font-style: normal;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        background-image: url("../main/bg_main.jpg");
        background-size: cover;
    }

    header {
        width: 100%;
        height: 2.1vw;
        background-color: #25185d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header_user_name{
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 0.8vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .header_img_user{
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .header_user_data{
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 0vw 0.5vw  0vw 0.5vw   ;
    }
    .header_user_data:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_logo {
        width: 5vw;
        height: 1.5vw;
        pointer-events: none;
    }

    .header_container {
        width: 83%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_link {
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 0.8vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
        padding: 0.2vw 0.7vw 0.2vw 0.7vw;
    }

    .header_link:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_navigation {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    dialog{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(214, 214, 214, 0.479);
        backdrop-filter: blur(10px);
        border: none;
    }

    main {
        width: 100%;
        flex: 1;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: start;
    }

    .modal_form_create{
        width: fit-content;
        height: fit-content;
        display: none;
        gap: 1vw;
        justify-content: start;
        align-items: center;
        background-color: #4c017e72;
        backdrop-filter: blur(10px);
        padding: 1vw;
        border-radius: 0.2vw;
    }

    .modal_form_join{
        width: fit-content;
        height: fit-content;
        display: none;
        gap: 1vw;
        justify-content: start;
        align-items: center;
        background-color: #4c017e72;
        backdrop-filter: blur(10px);
        padding: 1vw;
        border-radius: 0.2vw;
    }

    .input{
        width:15vw;
        height: 2vw;
        padding-left: 1vw;
        font-size: 0.8vw;
        border-radius: 0.2vw;
        outline: none;
        border:none;
        color: #C5C5C5;
    }

    .img_change_container{
        display: flex;
        align-items: center;
        gap: 0.5vw;
    }

    .form_text{
        width: 10vw;
        height: 3vw;
        font-family: 'AdventPro';
        font-weight: 200;
        color:white ;
        font-size: 1.2vw;
        border-radius: 0.2vw;
        transition: 0.3s;
    }

    .waring{
        height: 3vw;
        width: 14vw;
        font-family: 'AdventPro';
        font-weight: 200;
        color:rgb(255, 113, 113) ;
        font-size: 1.2vw;
        padding: 0.2vw;
        background-color: white;
        border-radius: 0.2vw;
        transition: 0.3s;
    }

    #btn_preview{
        width: 4vw;
        height: 4vw;
        background-color: white;
        border:dashed 0.1vw #848484; 
        border-radius: 0.3vw;
        background-image: url(../main/img.svg);
        background-size: cover;
        transition: 0.3s;
    }

    #btn_preview:hover{
        width: 4vw;
        height: 4vw;
        background-color: #bdbdbd;
        border:dashed 0.1vw #848484; 
        border-radius: 0.3vw;
        background-image: url(../main/img.svg);
        background-size: cover;
    }

    .input_description{
        font-family: 'AdventPro';
        font-weight: 200;
        max-width:20vw;
        min-width:20vw;
        max-height: 5vw;
        min-height: 5vw;
        padding: 1vw;
        font-size: 0.9vw;
        border-radius: 0.2vw;
        outline: none;
        border:none;
        color: #C5C5C5;
    }

    .input_description:hover{
        outline: 0.15vw solid #b842cf;
        
    }
    
    .input:focus{
        outline: 0.15vw solid #b842cf;
    }

    .btn_form_create{
        width: 8vw;
        height: 2.5vw;
        font-family: Biryani;
        font-weight: 700;
        font-size: 1vw;
        color: white;
        background-color: #6A2B94;
        transition: 0.3s;
        border: none;
    }

    
    .btn_form_create:hover{
        background-color: rgb(127, 77, 173);
    }

    .nav_container {
        width: 5%;
        height: fit-content;
        padding: 0.3vw 0vw 0.3vw 0vw;
        display: flex;
        gap: 2.8vw;
        justify-content: space-between;
        align-content: end;
    }

    .btn_exit_form{
        width: 100%;
        height:fit-content;
        display: flex;
        justify-content: space-between;
    }

    .exit{
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 100%;
        border: none;
        outline: none;
        background-color: #ffffff00;
        background-image: url(../projectboard/exit.svg);
        background-size: cover;
        transition: 0.3s;
    }

        .exit:hover{
        background-color: #ffffff2a;

        }

    .btn_delete_project{
        width: 1.5vw;
        height: 1.5vw;
        display: none;
        border-radius: 100%;
        border: none;
        background-image: url(../projectboard/trash.svg);
        background-size: cover;
        background-color: rgba(255, 255, 255, 0);
        transition: 0.3s;
        border: solid 0.1vw rgba(255, 0, 0, 0);
    }

    .btn_delete_project:hover{
        background-color: rgba(255, 255, 255, 0);
        border: solid 0.1vw red;
    }

    .btn_create{
        width: fit-content;
        height: fit-content;
        padding: 0vw 0.5vw 0vw 0.5vw;
        font-family: Biryani;
        font-weight: 700;
        font-size: 0.7vw;
        color: white;
        background-color: rgb(147, 87, 202);
        border: none;
        outline: none;
        border-radius: 0.2vw;
        transition: 0.3s;
    }

    .btn_create:hover{
        background-color: rgb(129, 77, 179);
    }

    .btn_join{
        width: fit-content;
        height: fit-content;
        padding: 0vw 0.5vw 0vw 0.5vw;
        font-family: Biryani;
        font-weight: 700;
        font-size: 0.7vw;  
        color: white;
        background-color: rgb(52, 12, 199);
        border: none;
        outline: none;  
        border-radius: 0.2vw;
        transition: 0.3s;
    }
    .btn_join:hover{
        background-color: rgb(44, 9, 168);
    }

    .project_bar_nav{
        width: 100%;
        padding: 0vw 13.2vw 0vw 0vw;
        height: fit-content;
        background-color: #d0c6ff71;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: end;
    }

    footer {
        width: 100%;
        height: 5.21vw;
        background-color: #201552;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_container {
        width: 80%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_logo {
        width: 12vw;
        height: 4vw;
        pointer-events: none;
    }

    .footer_navigation {
        display: flex;
        gap: 4vw;
        align-items: center;
    }

    .footer_link {
        text-decoration: dashed;
        color: white;
        font-weight: 200;
        font-size: 0.9vw;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .footer_link:hover {
        color: rgb(126, 126, 126);
    }

    .footer_social_navigation {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .footer_social_btn {
        width: 2.3vw;
        height: 2.3vw;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .footer_social_btn:hover {
        transform: scale(1.1);
    }

    .footer_social_btn:nth-child(1) {
        background-image: url(../welcome/logo_vk_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(2) {
        background-image: url(../welcome/logo_telegram_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(3) {
        background-image: url(../welcome/logo_email_welcome.svg);
        background-size: cover;
    }

    .cards_container{
        width: 95%;
        height: fit-content;
        background-color: #EFEFEF;
        border-radius: 0.2vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1vw;
        padding: 1vw;
    }

    .card{
        width: 30vw;
        height: 21.3vw;
        background-color: rgb(255, 255, 255);
        border-radius: 1.5vw;
        display: grid;
        grid-template-rows:1.8vw 17.5vw 2vw ;
        transition: 0.3s;
    }

    .card:hover{
        transform: scale(0.95);
    }
.card:hover .bg_project::before {
    transform: scale(1.5);
}

    strong{
        height: fit-content;
        color: white;
        font-size: 1.5vw;
        font-weight: 900;
        font-family: "AdventPro";
    }

    .header_card{
        width: 100%;
        height:1.7vw ;
        background-color: #AAAAAA;
        padding-left: 1vw;
        padding: 0vw 0.5vw 0vw 0.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .project_bar{
        width: 100%;
        height: 2vw;
        background-color: #AAAAAA;
        color: white;
        padding: 0vw 0.5vw 0vw 0.5vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
    }

.bg_project {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
}

.bg_project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-out;
    z-index: 0;
}

    .Project_marker_img{
        display: none;
    }

    .info{
        background-color: rgba(255, 255, 255, 0);
        border: none;
        color: white;
        font-size:1vw ;
    }
.Project_description_container {
    width: 100%;
    background-color: #f5f5f571;
    backdrop-filter: blur(8px);
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    transition: height 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    height: 0%;
    padding: 0vw;
}

    .Project_description_text{
        font-family: "AdventPro";
        font-weight: 900;
        font-size: 1.5vw;
        color: #414141;
    }

    .project_Date{
        display: none;
        transition: 0.3s ease;
        font-family: AdventPro;
        font-weight: 200;
        font-size: 1vw;
    }

    .project_admin{
        transition: 0.3s ease;
        font-family: "Biryani";
        font-weight: 200;
        font-size: 0.9vw; 
    }

    .card_toolbar_btn{
        width: 1.5vw;
        height:1.5vw;
        font-family: "AdventPro";
        font-size: 1vw;
        font-weight: 200;
        color: white;
        background-color: #efefef00;
        border: none;
        background-image: url(../main/setting_card.svg);
        background-size: cover;
        outline: none;
        transition: 0.3s ease;
        border-radius: 100%;
    }

    .card_toolbar_btn_dark{
        width: 1.5vw;
        height:1.5vw;
        font-family: "AdventPro";
        font-size: 1vw;
        font-weight: 200;
        color: white;
        background-color: #efefefe4;
        border-radius: 100%;
        border: none;
        background-image: url(../main/setting_card_dark.svg);
        background-size: cover;
        outline: none;
        transition: 0.3s ease;
    }
    .card_tool_bar{
        display: flex;
        align-items: center;
        gap: 1vw;
    }


    .card_toolbar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5vw;
    }
}
@media (min-width: 1200px) and (max-width: 1919px) {
    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Light.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Black.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        background-image: url("../main/bg_main.jpg");
        background-size: cover;
    }

    header {
        width: 100%;
        height: 2.1vw;
        background-color: #25185d;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .header_user_name{
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .header_img_user{
        width: 2vw;
        height: 2vw;
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .header_user_data{
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 0vw 0.5vw  0vw 0.5vw   ;
    }
    .header_user_data:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }
    .header_logo {
        width: 5vw;
        height: 1.5vw;
        pointer-events: none;
    }

    .header_container {
        width: 83%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_link {
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 1.5vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
        padding: 0.2vw 0.7vw 0.2vw 0.7vw;
    }

    .header_link:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_navigation {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    main {
        width: 100%;
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main_container {
        width: 82%;
        height: 80%;
        padding: 4vw 0vw 0vw 0vw;
        display: grid;
        gap: 3vw;
        justify-content: start;
        align-content: end;
    }

    .main_text {
        display: grid;
        grid-template-rows: 5vw 2vw;
        justify-content: start;
    }

    .title {
        position: relative;
        left: 0vw;
        font-family: Biryani;
        font-weight: 900;
        font-size: 3.34vw;
        color: white;
        text-shadow: 0px 1px 6px white;
        animation-name: title;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    @keyframes title {
        0% {
            opacity: 0;
            left: -30vw;
        }
        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .description {
        position: relative;
        left: 0vw;
        opacity: 0;
        font-family: Biryani;
        font-weight: 100;
        font-size: 1.2vw;
        color: white;
        text-shadow: 0px 1px 4px white;
        animation: description 0.8s ease-out 0.4s forwards;
    }

    @keyframes description {
        0% {
            opacity: 0;
            left: -30vw;
        }

        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .btn_started {
        position: absolute;
        z-index: 1;
        width: 12vw;
        height: 3vw;
        background-color: #713ee8;
        text-shadow: 0px 0px 2px white;
        font-family: Biryani;
        font-weight: 400;
        color: white;
        font-size: 1vw;
        transition: 0.3s;
        border: none;
    }

    .blic {
        z-index: 0;
        position: absolute;
        left: 0vw;
        top: 0.1vw;
        width: 0.2vw;
        height: 0.2vw;
        background-color: white;
        box-shadow: 0px 0px 6px white;
        animation: blic 2s linear infinite;
        transform-origin: 50% 50%;
    }

    @keyframes blic {
        0% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(0vw, 1vw);
            opacity: 0;
        }
        20% {
            opacity: 1;
            width: 0.2vw;
            height: 3.2vw;
            transform: translate(0vw, 0vw);
        }
        40% {
            width: 12.22vw;
            height: 3.2vw;
            transform: translate(0vw, 0vw);
        }
        60% {
            width: 0.2vw;
            height: 3.2vw;
            transform: translate(12vw, 0vw);
        }
        80% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(12vw, 1.5vw);
            opacity: 0;
        }
        100% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(0vw, 1vw);
            opacity: 0;
        }
    }

    .btn_container {
        width: 12.2vw;
        height: 3.2vw;
        border-radius: 2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        left: 0vw;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        animation: started 0.8s ease-out 0.8s forwards;
    }

    @keyframes started {
        0% {
            opacity: 0;
            left: -30vw;
        }

        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .btn_started:hover {
        background-color: #5830b6;
    }

    footer {
        width: 100%;
        height: 5.21vw;
        background-color: #201552;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_container {
        width: 80%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_logo {
        width: 12vw;
        height: 4vw;
        pointer-events: none;
    }

    .footer_navigation {
        display: flex;
        gap: 4vw;
        align-items: center;
    }

    .footer_link {
        text-decoration: dashed;
        color: white;
        font-weight: lighter;
        font-size: 1.5vw;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .footer_link:hover {
        color: rgb(126, 126, 126);
    }

    .footer_social_navigation {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .footer_social_btn {
        width: 2.3vw;
        height: 2.3vw;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .footer_social_btn:hover {
        transform: scale(1.1);
    }

    .footer_social_btn:nth-child(1) {
        background-image: url(../welcome/logo_vk_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(2) {
        background-image: url(../welcome/logo_telegram_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(3) {
        background-image: url(../welcome/logo_email_welcome.svg);
        background-size: cover;
    }
}
@media (min-width: 900px) and (max-width: 1199px) {
    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Light.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Black.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        background-image: url("../main/bg_main.jpg");
        background-size: cover;
    }

    header {
        width: 100%;
        height: 3vw;
        background-color: #25185d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header_user_name{
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 2vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .header_img_user{
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .header_user_data{
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 0vw 0.5vw  0vw 0.5vw   ;
    }
    .header_user_data:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_logo {
        width: 6vw;
        height: 2vw;
        pointer-events: none;
    }

    .header_container {
        width: 83%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_link {
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 2vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
        padding: 0.2vw 0.7vw 0.2vw 0.7vw;
    }

    .header_link:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_navigation {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    main {
        width: 100%;
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main_container {
        width: 82%;
        height: 80%;
        padding: 4vw 0vw 0vw 0vw;
        display: grid;
        gap: 4vw;
        justify-content: start;
        align-content: end;
    }

    .main_text {
        display: grid;
        grid-template-rows: 6vw 2vw;
        justify-content: start;
    }

    .title {
        position: relative;
        left: 0vw;
        font-family: Biryani;
        font-weight: 900;
        font-size: 4vw;
        color: white;
        text-shadow: 0px 1px 6px white;
        animation-name: title;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    @keyframes title {
        0% {
            opacity: 0;
            left: -30vw;
        }
        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .description {
        position: relative;
        left: 0vw;
        opacity: 0;
        font-family: Biryani;
        font-weight: 100;
        font-size: 2vw;
        color: white;
        text-shadow: 0px 1px 4px white;
        animation: description 0.8s ease-out 0.4s forwards;
    }

    @keyframes description {
        0% {
            opacity: 0;
            left: -30vw;
        }

        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .btn_started {
        position: absolute;
        z-index: 1;
        width: 14vw;
        height: 4vw;
        background-color: #713ee8;
        text-shadow: 0px 0px 2px white;
        font-family: Biryani;
        font-weight: 400;
        color: white;
        font-size: 1.5vw;
        transition: 0.3s;
        border: none;
    }

    .blic {
        z-index: 0;
        position: absolute;
        left: 0vw;
        top: 0.1vw;
        width: 0.2vw;
        height: 0.2vw;
        background-color: white;
        box-shadow: 0px 0px 6px white;
        animation: blic 2s linear infinite;
        transform-origin: 50% 50%;
    }

    @keyframes blic {
        0% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(0vw, 1vw);
            opacity: 0;
        }
        20% {
            opacity: 1;
            width: 0.2vw;
            height: 4.2vw;
            transform: translate(0vw, 0vw);
        }
        40% {
            width: 14.22vw;
            height: 4.2vw;
            transform: translate(0vw, 0vw);
        }
        60% {
            width: 0.2vw;
            height: 4.2vw;
            transform: translate(14vw, 0vw);
        }
        80% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(14vw, 3vw);
            opacity: 0;
        }
        100% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(0vw, 3vw);
            opacity: 0;
        }
    }

    .btn_container {
        width: 14.2vw;
        height: 4.2vw;
        border-radius: 2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        left: 0vw;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        animation: started 0.8s ease-out 0.8s forwards;
    }

    @keyframes started {
        0% {
            opacity: 0;
            left: -30vw;
        }

        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .btn_started:hover {
        background-color: #5830b6;
    }

    footer {
        width: 100%;
        height: 5.21vw;
        background-color: #201552;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_container {
        width: 80%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_logo {
        width: 12vw;
        height: 4vw;
        pointer-events: none;
    }

    .footer_navigation {
        display: flex;
        gap: 4vw;
        align-items: center;
    }

    .footer_link {
        text-decoration: dashed;
        color: white;
        font-weight: lighter;
        font-size: 2vw;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .footer_link:hover {
        color: rgb(126, 126, 126);
    }

    .footer_social_navigation {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .footer_social_btn {
        width: 3vw;
        height: 3vw;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .footer_social_btn:hover {
        transform: scale(1.1);
    }

    .footer_social_btn:nth-child(1) {
        background-image: url(../welcome/logo_vk_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(2) {
        background-image: url(../welcome/logo_telegram_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(3) {
        background-image: url(../welcome/logo_email_welcome.svg);
        background-size: cover;
    }
}
@media (min-width: 768px) and (max-width: 899px) {
    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Light.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Black.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        background-image: url("../main/bg_main.jpg");
        background-size: cover;
    }

    header {
        width: 100%;
        height: 3.5vw;
        background-color: #25185d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header_user_name{
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 2.5vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .header_img_user{
        width: 3vw;
        height: 3vw;
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .header_user_data{
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 0vw 0.5vw  0vw 0.5vw   ;
    }
    .header_user_data:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_logo {
        width:9vw;
        height: 3vw;
        pointer-events: none;
    }

    .header_container {
        width: 83%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_link {
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 2.5vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
        padding: 0.2vw 0.7vw 0.2vw 0.7vw;
    }

    .header_link:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_navigation {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    main {
        width: 100%;
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main_container {
        width: 82%;
        height: 80%;
        padding: 4vw 0vw 0vw 0vw;
        display: grid;
        gap: 4vw;
        justify-content: start;
        align-content: end;
    }

    .main_text {
        display: grid;
        grid-template-rows: 6vw 2vw;
        justify-content: start;
    }

    .title {
        position: relative;
        left: 0vw;
        font-family: Biryani;
        font-weight: 900;
        font-size: 4vw;
        color: white;
        text-shadow: 0px 1px 6px white;
        animation-name: title;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    @keyframes title {
        0% {
            opacity: 0;
            left: -30vw;
        }
        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .description {
        position: relative;
        left: 0vw;
        opacity: 0;
        font-family: Biryani;
        font-weight: 100;
        font-size: 2vw;
        color: white;
        text-shadow: 0px 1px 4px white;
        animation: description 0.8s ease-out 0.4s forwards;
    }

    @keyframes description {
        0% {
            opacity: 0;
            left: -30vw;
        }

        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .btn_started {
        position: absolute;
        z-index: 1;
        width: 14vw;
        height: 4vw;
        background-color: #713ee8;
        text-shadow: 0px 0px 2px white;
        font-family: Biryani;
        font-weight: 400;
        color: white;
        font-size: 1.5vw;
        transition: 0.3s;
        border: none;
    }

    .blic {
        z-index: 0;
        position: absolute;
        left: 0vw;
        top: 0.1vw;
        width: 0.2vw;
        height: 0.2vw;
        background-color: white;
        box-shadow: 0px 0px 6px white;
        animation: blic 2s linear infinite;
        transform-origin: 50% 50%;
    }

    @keyframes blic {
        0% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(0vw, 1vw);
            opacity: 0;
        }
        20% {
            opacity: 1;
            width: 0.2vw;
            height: 4.2vw;
            transform: translate(0vw, 0vw);
        }
        40% {
            width: 14.22vw;
            height: 4.2vw;
            transform: translate(0vw, 0vw);
        }
        60% {
            width: 0.2vw;
            height: 4.2vw;
            transform: translate(14vw, 0vw);
        }
        80% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(14vw, 3vw);
            opacity: 0;
        }
        100% {
            width: 0.2vw;
            height: 0.2vw;
            transform: translate(0vw, 3vw);
            opacity: 0;
        }
    }

    .btn_container {
        width: 14.2vw;
        height: 4.2vw;
        border-radius: 2px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        left: 0vw;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0);
        animation: started 0.8s ease-out 0.8s forwards;
    }

    @keyframes started {
        0% {
            opacity: 0;
            left: -30vw;
        }

        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .btn_started:hover {
        background-color: #5830b6;
    }

    footer {
        width: 100%;
        height: 5.21vw;
        background-color: #201552;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_container {
        width: 80%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_logo {
        width: 12vw;
        height: 4vw;
        pointer-events: none;
    }

    .footer_navigation {
        display: flex;
        gap: 4vw;
        align-items: center;
    }

    .footer_link {
        text-decoration: dashed;
        color: white;
        font-weight: lighter;
        font-size: 2.5vw;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .footer_link:hover {
        color: rgb(126, 126, 126);
    }

    .footer_social_navigation {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .footer_social_btn {
        width: 3vw;
        height: 3vw;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .footer_social_btn:hover {
        transform: scale(1.1);
    }

    .footer_social_btn:nth-child(1) {
        background-image: url(../welcome/logo_vk_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(2) {
        background-image: url(../welcome/logo_telegram_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(3) {
        background-image: url(../welcome/logo_email_welcome.svg);
        background-size: cover;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Light.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Black.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        background-image: url("../main/bg_main.jpg");
        background-size: cover;
    }

    header {
        width: 100%;
        height: 7vw;
        background-color: #25185d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header_user_name{
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 4vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .header_img_user{
        width: 3.5vw;
        height: 3.5vw;
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .header_user_data{
        display: flex;
        align-items: center;
        gap: 1vw;
        padding: 0vw 0.5vw  0vw 0.5vw   ;
    }
    .header_user_data:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_logo {
        width: 15vw;
        height: 5vw;
        pointer-events: none;
    }

    .header_container {
        width: 83%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_link {
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 4vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
        padding: 0.2vw 0.7vw 0.2vw 0.7vw;
    }

    .header_link:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_navigation {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    main {
        width: 100%;
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main_container {
        width: 82%;
        height: 80%;
        padding: 4vw 0vw 4vw 0vw;
        display: grid;
        gap: 16vw;
        justify-content: start;
        align-content: end;
    }

    .main_text {
        display: grid;
        grid-template-rows: 35vw 2vw;
        justify-content: start;
    }

    .title {
        position: relative;
        left: 0vw;
        font-family: Biryani;
        font-weight: 900;
        font-size: 10vw;
        color: white;
        text-shadow: 0px 1px 6px white;
        animation-name: title;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    @keyframes title {
        0% {
            opacity: 0;
            left: -30vw;
        }
        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .description {
        position: relative;
        left: 0vw;
        opacity: 0;
        font-family: Biryani;
        font-weight: 100;
        font-size: 5vw;
        color: white;
        text-shadow: 0px 1px 4px white;
        animation: description 0.8s ease-out 0.4s forwards;
    }

    @keyframes description {
        0% {
            opacity: 0;
            left: -30vw;
        }

        100% {
            opacity: 1;
            left: 0vw;
        }
    }

    .btn_started {
        position: absolute;
        z-index: 1;
        width: 36vw;
        height: 9vw;
        background-color: #713ee8;
        text-shadow: 0px 0px 3px white;
        font-family: Biryani;
        font-weight: 400;
        color: white;
        font-size: 3vw;
        transition: 0.3s;
        border: none;
    }

    .blic {
        z-index: 0;
        position: absolute;
        left: 0vw;
        top: 0.3vw;
        width: 0.6vw;
        height: 0.6vw;
        background-color: white;
        box-shadow: 0px 0px 10px white;
        animation: blic 2s linear infinite;
        transform-origin: 50% 50%;
    }

    @keyframes blic {
        0% {
            width: 0.6vw;
            height: 0.6vw;
            transform: translate(0vw, 3vw);
            opacity: 0;
        }
        20% {
            opacity: 1;
            width: 0.6vw;
            height: 9.6vw;
            transform: translate(0vw, 0vw);
        }
        40% {
            width: 36.66vw;
            height: 9.6vw;
            transform: translate(0vw, 0vw);
        }
        60% {
            width: 0.6vw;
            height: 9.6vw;
            transform: translate(36vw, 0vw);
        }
        80% {
            width: 0.6vw;
            height: 0.6vw;
            transform: translate(36vw, 4.5vw);
            opacity: 0;
        }
        100% {
            width: 0.6vw;
            height: 0.6vw;
            transform: translate(0vw, 3vw);
            opacity: 0;
        }
    }

    .btn_container {
        width: 36.6vw;
        height: 9.6vw;
        border-radius: 6px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: end;
        left: 0vw;
        background-color: rgba(255, 255, 255, 0);
        animation: started 0.8s ease-out 0.8s forwards;
    }

    .btn_started:hover {
        background-color: #5830b6;
    }

    footer {
        width: 100%;
        height: fit-content;
        background-color: #201552;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vw 0vw 2vw 0vw;
    }

    .footer_container {
        width: 80%;
        height: fit-content;
        display: grid;
        gap: 4vw;
        justify-items: center;
        align-items: center;
    }

    .footer_logo {
        order: 3;
        width: 21vw;
        height: 7vw;
        pointer-events: none;
    }

    .footer_navigation {
        order: 1;
        display: grid;
        justify-items: center;
        gap: 4vw;
        align-items: center;
    }

    .footer_link {
        text-decoration: dashed;
        color: white;
        font-weight: lighter;
        font-size: 2.5vw;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .footer_link:hover {
        color: rgb(126, 126, 126);
    }

    .footer_social_navigation {
        order: 2;
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .footer_social_btn {
        width: 6vw;
        height: 6vw;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .footer_social_btn:hover {
        transform: scale(1.1);
    }

    .footer_social_btn:nth-child(1) {
        background-image: url(../welcome/logo_vk_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(2) {
        background-image: url(../welcome/logo_telegram_welcome.svg);
        background-size: cover;
    }
    .footer_social_btn:nth-child(3) {
        background-image: url(../welcome/logo_email_welcome.svg);
        background-size: cover;
    }
}