@media (min-width: 1920px) {
    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Light.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "AdventPro";
        src: url("/fonts/AdventPro-Bold.ttf") format("truetype");
        font-weight: 800;
        font-style: normal;
    }

    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Black.ttf") format("truetype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Biryani";
        src: url("/fonts/Biryani-Regular.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        background-image: url("../main/Bg_main2.jpg");
        background-size: cover;
    }

    header {
        width: 100%;
        height: 2.1vw;
        background-color: #25185d;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header_user_name{
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 0.8vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
    }

    .header_img_user{
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 100%;
        border: none;
        transition: 0.3s;
    }

    .header_user_data{
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 0vw 0.5vw  0vw 0.5vw   ;
    }
    .header_user_data:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_logo {
        width: 5vw;
        height: 1.5vw;
        pointer-events: none;
    }

    .header_container {
        width: 83%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_link {
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 0.8vw;
        font-weight: 700;
        font-family: "AdventPro";
        transition: 0.3s;
        padding: 0.2vw 0.7vw 0.2vw 0.7vw;
    }

    .header_link:hover {
        color: #e9e9e9;
        background-color: #2d1e70;
    }

    .header_navigation {
        display: flex;
        align-items: center;
        gap: 2vw;
    }

    main{
        width: 100%;
        height: 100%;
        flex: 1;
        background-color: #f1f1f100;
        display: flex;
        justify-content: start;
        gap: 1vw;
        align-items: center;

    }

    .project_info{
        width: 100%;
        height: 10%;
        background-color: rgb(63, 63, 63);
        display: flex;
        gap: 1vw;
        justify-content: space-between;
        align-items: center;
        padding:1.5vw 2vw 1.5vw 2vw;
    }

    .project_setting_icon{
        width: 1.5vw;
        height: 1.5vw;
    }

    .project_setting_icon_anim{
        width: 1.5vw;
        height: 1.5vw;
        animation-name: setting;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
    }

    @keyframes setting {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }


    .project_setting_name{
        font-family: "AdventPro";
        font-weight: 800;
        font-size: 2vw;
        color: white;
        white-space: nowrap;
    }

    .project_setting_container{
        width: 90%;
        height: 70%;
        background-color: rgb(70, 70, 70);
        border-radius: 0.4vw;
        display: flex;
        padding: 1vw;
        justify-content: space-around;
        align-items: center;
    }

    .project_setting_member{
        width: 100%;
        height: 10vw;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgb(70, 70, 70);
        border-radius: 0.4vw;
        display: grid;
        gap: 1vw;
        padding: 1vw;
        justify-content: start;
        align-items: center;
    }

.project_setting_member::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Дорожка */
.project_setting_member::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

/* Ползунок */
.project_setting_member::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 4px;
}

    .project_setting_member::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
    }
    .project_setting_description{
        width: 100%;
        min-height: 4vw;
        max-height: 9vw;
        height: 9vw;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgb(70, 70, 70);
        border-radius: 0.4vw;
        display: grid;
        gap: 1vw;
        padding: 1vw;
        justify-content: start;
        align-items: start;   
        border: 0.2vw solid rgba(149, 79, 172, 0);
        box-shadow: rgba(217, 141, 243, 0) 0vw 0vw 1vw;
        transition: 0.3s;
    }
    
    .project_setting_description_active{
        width: 100%;
        min-height: 4vw;
        max-height: 9vw;
        height: 9vw;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgb(70, 70, 70);
        border-radius: 0.4vw;
        display: grid;
        gap: 1vw;
        padding: 1vw;
        justify-content: start;
        align-items: start;   
        border: 0.2vw solid rgb(148, 79, 172);
        box-shadow: rgb(218, 141, 243) 0vw 0vw 0.5vw;
        transition: 0.3s;
    }

    .project_container{
        width: 100%;
        background-color: rgba(255, 0, 0, 0);
        height: fit-content;
        display: grid;
        grid-template-columns: 100%;
        gap: 1vw;
        padding: 1vw;
        justify-content: start;
        align-items: center;    
    }

    .project_setting_description_active::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.project_setting_description_active::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.project_setting_description_active::-webkit-scrollbar-thumb {
    background: rgb(83, 6, 109);
    border-radius: 4px;
}

    .project_setting_description_active::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
    }


    .project_setting_description::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.project_setting_description::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.project_setting_description::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 4px;
}

    .project_setting_description::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
    }

    .project_member_date{
        display: grid;
    }

    .project_info_description{
        width: 90%;
        font-family: "AdventPro";
        font-weight: 200;
        font-size: 0.9vw;
        color: white;
        user-select: none;
         white-space: pre-wrap;
    }

    .project_member_img{
        width: 2vw;
        height: 2vw;
        border-radius: 100%;
        pointer-events: none;
    }

    .project_member_name{
        font-family: "AdventPro";
        font-weight: 200;
        font-size: 1.5vw;
        color: white;
    }

    .project_member_info{
        width: 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3vw;
        transition: 0.3s;
        border-radius: 0.3vw;
        padding: 0.5vw;
        user-select: cursor;
        user-select: none;
        transition: 0.3s;
        border: dashed 0.2vw #ffffff00;
    }
    
    .project_member_info.open{
        width: 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.3vw;
        transition: 0.3s;
        border-radius: 0.3vw;
        padding: 0.5vw;
        user-select: cursor;
        user-select: none;
        transition: 0.3vw;
        background-color: rgb(48, 48, 48);
        border: dashed 0.2vw rgb(148, 79, 172);
    }

    .project_member_info:hover{
        background-color: rgb(48, 48, 48);
    }

    .project_member_role{
        font-family: "AdventPro";
        font-weight: 200;
        font-size: 0.9vw;
        color: white;
        text-align: end;
    }
        .project_member_time{
        font-family: "AdventPro";
        font-weight: 200;
        font-size: 0.9vw;
        color: rgba(206, 206, 206, 0.534);
        text-align: end;
    }

    .prtoject_member_date{
        display: flex;
        align-items: center;
        gap: 0.5vw;
    }

    .project_setting_info{
        height: 100%;
        display: grid;
        align-content:space-between ;
    }

    .project_info_title{
        font-family: "AdventPro";
        font-weight: 700;
        font-size: 1.5vw;
        color: white;
        white-space: nowrap;
    }

    .project_admin_name{
        width: fit-content;
        font-family: "AdventPro";
        font-weight: 400;
        font-size: 1.5vw;
        color: white;
        white-space: nowrap; 
        padding: 0.2vw;
        border-radius: 0.2vw;
        background-color:rgb(44, 44, 44);    
    }

    .project_create{
        width: fit-content;
        height: fit-content;
        font-family: "AdventPro";
        font-weight: 400;
        font-size: 0.8vw;
        color: rgb(206, 206, 206);
        white-space: nowrap; 
        border-radius: 0.2vw;
    }

    .project_admin_info{
        display: flex;
        justify-content: end;
        gap: 0.5vw;
        align-items: center;
    }

    .project_setting_img{
        width: 5vw;
        height: 5vw;
        border-radius: 100%;
    }

    .project_setting_id{
        width: fit-content;
        height: fit-content;
        font-family: "AdventPro";
        font-weight: 400;
        font-size: 1vw;
        color: rgb(206, 206, 206);
        white-space: nowrap; 
        border-radius: 0.2vw;
    }

    .project_setting{
        width: 0%;
        height: 44.4vw;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        background-color: rgb(49, 49, 49);
        transition: 0.3s;
        overflow-x: hidden;
    }

    .tool_bar_container{
        width: 100%;
        height: 5.5vw;
        background-color: rgba(0, 0, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav_tool_bar{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        gap: 2vw;
        padding: 0.5vw;
        border-radius: 1vw;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    #create_task{
        width: 2vw;
        height: 2vw;
        background-image: url(../projectboard/plus.svg);
        background-size: cover;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .tasks_To-do-list{
        width: 70vw;
        height: 40vw;
        background-color: rgb(80, 70, 70);
        border-radius: 0.2vw;
        display: grid; 
        grid-template-rows: repeat(6, auto);   /* первые 6 строк по 6vw */
        gap: 0.5vw;
        justify-content: center;
        align-items: start;
        padding: 1vw;
        overflow-y: scroll;
    }

        .tasks_To-do-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.tasks_To-do-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.tasks_To-do-list::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 4px;
}

    .tasks_To-do-list::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
    }

    .workspace{
        width: 100vw;
        display: grid;
        justify-content: center;
    }

    #dialog{
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: rgba(241, 241, 241, 0.384);
        backdrop-filter: blur(15px);
        border: none;
        z-index: 2;
    }

    .form_create{
        width: 18vw;
        height: 15vw;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: gray;
        border-radius: 0.2vw;
    }

    .input{
        width: 15vw;
        height: 2vw;
        padding: 0.5vw;
        border-radius: 0.2vw;
        border: none;
    }

    .input:focus{
        outline: solid 0.2vw rgb(129, 20, 180);
    }

    .btn_create{
        width: 15vw;
        height: 3vw;
        border-radius: 0.2vw;
        border: none;
        font-size: 1.5vw;
        background-color: rgb(129, 20, 180);
        color: white;
    }

    #exit {
        width: 2vw;
        height: 2vw;
        background-image: url(../projectboard/exit.svg);
        background-size: cover;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        outline: none;

    }



    .exit_form_container{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: end;
    }

    .task_container{
        width: 65vw;
        height: 5vw;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: rgb(136, 133, 133);
        padding: 1vw;
        display: grid;
        grid-template-rows: 3vw;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
        border-radius: 0.2vw;
        transition: 0.3s;
    }
     
    .task_container.open{
        width: 65vw;
        height: 14vw;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: rgb(136, 133, 133);
        padding: 1vw;
        display: grid;
        grid-template-rows: 3vw;
        justify-content: space-between;
        align-items: center;
        gap: 0vw;
        border-radius: 0.2vw;
        transition: 0.3s;
    }

    .task_title{
        width: fit-content;
        font-family: AdventPro;
        font-weight: 700;
        font-size: 2vw;
        color: white;
    }

    .task_text_default{
        font-family: AdventPro;
        font-weight: 700;
        font-size: 2vw;
        color: white;
    }

    .task_description{
        font-family: AdventPro;
        font-weight: 400;
        font-size: 1.5vw;
        color: white;
        padding: 0.5vw;
        background-color: rgb(92, 92, 92);
        border-radius: 0.3vw;
    }

    .avatar{
        width: 2.5vw;
        height:2.5vw;
        border-radius: 100%;
    }

    .user_info{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        background-color: rgb(43, 43, 43);
        padding: 0.5vw;
        border-radius: 0.2vw;
    }

    .task_info{
        width: 63vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
    }

    .owner_name{
        font-family: AdventPro;
        font-weight: 200;
        font-size: 1.5vw;
        color: white;
    }

    .bar_info{
        width: fit-content;
        height: fit-content;
        display: flex;
        gap: 0vw;
        justify-content: center;
        align-items: center;
    }

    .tool_bar{
        width: 2vw;
        height: 2vw;
        background-color: #ffffff00;
        background-image: url(../projectboard/trash.svg);
        background-size: contain;
        border: none;
        outline: none;
        color: white;
        font-family: AdventPro;
        font-weight: 700;
        font-size: 1vw;
        transition: 0.3s;
        border-radius: 100%;
    }

    .tool_bar:hover {
        background-color: white;
    }

    .section_answer{
        width: 100%;
        height: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: AdventPro;
        font-weight: 800;
        font-size: 1.5vw;
        color: #5E5E5E;
    }

    .alert{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5vw;
        padding: 0.5vw 1.5vw 0.5vw 1.5vw;
        background-color: #fff;
        border: solid 0.2vw #5E5E5E;
        border-radius: 0.5vw;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        animation-name: alert;
        animation-iteration-count: 1;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
    }

    @keyframes alert {
        0%{
            opacity: 0;
        }
        10%{
            opacity: 1;
        }
        90%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    .alert_icon{
        width: 1.5vw;
        height: 1.5vw;
    }

    .settings{
        width: 2vw;
        height: 2vw;
        background-image: url(../projectboard/setting.svg);
        background-size: cover;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100%;
        transition: 0.3s;
    }

    .settings:hover{
        background-color: #c5b7ff67;
    }

    .settings_invers{
        width: 2vw;
        height: 2vw;
        background-image: url(../projectboard/setting_white.svg);
        background-size: cover;
        border: none;
        background-color: #BBABFE; 
        border-radius: 100%;
        transition: 0.3s;
    }



    #create_chat{
        width: 2vw;
        height: 2vw;
        background-image: url(../projectboard/chat.svg);
        background-size: cover;
        border: none;
        background-color: rgba(255, 255, 255, 0);        
    }

    .exit_project{
        width: 2vw;
        height: 2vw;
        background-image: url(../projectboard/exit_project.svg);
        background-size: cover;
        border: none;
        background-color: rgba(255, 255, 255, 0);   
        transition: 0.3s;
        border-radius: 100%;
    }

    .exit_project:hover{
        background-color:  #c5b7ff67;   
    }


    #form_edit_description{
        width: 100%;
        height: fit-content;
        display: none;
        gap: 0.5vw;
        justify-content: start;
        align-items: start;
    }

    #input_edit_description{
        width: 14vw;
        min-width: 14vw;
        max-width: 14vw;
        height: 9vw;
        min-height: 9vw;
        max-height: 9vw;
        outline: none;
        font-family: "AdventPro";
        font-weight: 200;
        font-size: 0.9vw;
        color: white;
        background-color: rgb(70, 70, 70);
        border: none;
    }

    #btn_edit_description{
        left: 16vw;
        width: 1.5vw;
        height: 1.5vw;
        background-image: url(../projectboard/edit_white.svg);
        background-size: cover;
        background-color: #ffffff00;
        border: none;
        border-radius: 100%;
        transition: 0.3s;
    }

    #btn_edit_description:hover{
        background-color: #ffffff38;
    }

    .project_container_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #btn_update{
        display: none;
    }

    #btn_link_update{
        width: 1.5vw;
        height: 1.5vw;
        display: none;
        border: none;
        outline: none;
        background-color: #ffffff00;
        background-image: url(../projectboard/confirm.svg);
        background-size: cover;
        border-radius: 100%;
        transition: 0.3s;
    }

    #btn_link_update:hover{
        background-color: #ffffff38;
    }

    .edit_bar{
        display: flex;
        justify-content: end;
        gap: 0.5vw;
        align-items: center;
    }

    .task_description_container{
        width: fit-content;
    }

    .role_form_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #select_role{
        width: 8vw;
        height: 1.5vw;
        font-family: AdventPro;
        font-weight: 200;
        font-size: 1vw;
        color: white;
        outline: none;
        border:solid 0.1vw white;
        border-radius: 0.2vw;
        background-color: rgb(49, 49, 49);
    }

    #select_role_btn{
        width: 1.5vw;
        height: 1.5vw;
        border: none;
        outline: none;
        background-color: #ffffff00;
        background-image: url(../projectboard/confirm.svg);
        background-size: cover;
        border-radius: 100%;
        transition: 0.3s;
    }

    #select_role_btn:hover{
        background-color: #ffffff38;
    }

    .role_form{
        display: none;
        justify-content: space-between;
        align-items: center;
        gap: 0.5vw;
        
    }

}